<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="SMTPServer" value="smtp.jpheary.com" />
    <add key="LogLevelFloor" value="2" />
  </appSettings>
  <connectionStrings>
    <add name="Enterprise" connectionString="data source=localhost;initial catalog=VS13;persist security info=False;user id=sa;password=objects;packet size=4096;Connect Timeout=15" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webScriptBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="default" maxReceivedMessageSize="8192000">
          <readerQuotas maxDepth="8192000" maxStringContentLength="8192000" maxArrayLength="8192000" maxBytesPerRead="8192000" maxNameTableCharCount="8192000"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
      <netMsmqBinding>
        <binding name="default" exactlyOnce="false">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <services>
      <service name="VS13.SMTPService" behaviorConfiguration="default">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="default" contract="VS13.ISMTPService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="VS13.Enterprise.ExceptionService" behaviorConfiguration="default">
        <endpoint address="net.msmq://localhost/private/vs13.enterprise.services/exceptionservice.svc" binding="netMsmqBinding" bindingConfiguration="default" contract="VS13.Enterprise.IExceptionService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
