<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMagazineService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://tpjheary8/VS13/VS15.Magazine.Services/Magazine.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMagazineService"
                contract="Magazine.IMagazineService" name="NetTcpBinding_IMagazineService" />
        </client>
    </system.serviceModel>
</configuration>