<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IExceptionService" exactlyOnce="false">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/vs13.enterprise.services/exceptionservice.svc"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IExceptionService"
                contract="Enterprise.IExceptionService" name="NetMsmqBinding_IExceptionService" />
        </client>
    </system.serviceModel>
</configuration>